<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Задача PP_3.1.3</title>
    </head>
    <body>
        <h2>Задача PP_3.1.3</h2>
        <h1>Spring Security Example</h1>
        <h3>Группа: java_may18_2023_1</h3>
        <h3>Студент: Александр Ковалёв</h3>
        <br/>
        <h1>Welcome to Index PAGE!</h1>
        <p>При первом запуске приложения будет создана база данных (схема) 'pp_3.1.3' на вашем локальном сервере MySQL.</p>
        <p>Таблицы 'users', 'roles' и 'user_roles' создаются и заполняются данными автоматически при каждом запуске приложения.</p>
        <h4>
            ВАЖНО! После завершения работы приложения данные не сохраняются в базе данных,<br/>
            т.к. таблицы 'users', 'roles' и 'user_roles' автоматически удаляются.
        </h4>
        <h4>Логин для администратора: admin<br/>
            Пароль для всех пользователей: 123</h4>
        <p>Для начала работы с приложением нажмите <a href="all-users">здесь</a>.</p>
    </body>
</html>
