<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PP_3.1.3 - Пользователь</title>
    </head>
    <body>
        <h2>ИНФОРМАЦИЯ О ПОЛЬЗОВАТЕЛЕ</h2>
        <form action="saveUser" th:object="${user}" method="post">
            <input type="hidden" th:field="${id}"/>
            <label>Имя: <input type="text" th:field="${name}"/></label>
            <br><br>
            <label>Фамилия: <input type="text" th:field="${surname}"/></label>
            <br><br>
            <label>Возраст: <input type="text" th:field="${age}"/></label>
            <br><br>
            <label>Логин: <input type="text" th:field="${username}"/></label>
            <br><br>
            <label>Пароль: <input type="password" th:field="${password}"/></label>
            <br><br>
            <label>Доступ: <input type="checkbox" th:field="${enabled}"/></label>
            <br><br>
            <input type="submit" value="OK"/>
        </form>
    </body>
</html>
